html, body. h1 {
	margin: 0;
	padding: 0;
	border: 0;
}

h1 {
	font-weight: bold;
	font-size: 60px;
}

div.square {
	background: white;
	height: 32%;
	width: 32%;
	border: 3px black solid;
	float: left;
}

div.container {
	background: white;
	height: 500px;
	width: 500px;
}