html, body. h1 {
	margin: 0;
	padding: 0;
	border: 0;
}

h1 {
	font-weight: bold;
	font-size: 60px;
	margin: 30px;
}

div {
	background: white;
	height: 32%;
	width: 32%;
	border: 3px solid black;
	float: left;
}

div.container {
	background: white;
	height: 500px;
	width: 500px;
	border: 0px;
}