body {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

h1 {
	font-weight: bold;
	font-size: 60px;
  margin: 0;
}

.square {
  font-size: 130px;
}

div.square {
	background: white;
	height: 32%;
	width: 32%;
	border: 3px black solid;
	float: left;
}

div.container {
	background: white;
	height: 500px;
	width: 500px;
}

#o, #x {
  color: red;
}